body, html {
    width: 1080px;
    height: 1920px;
    background: #212023;
    overflow: hidden;
}

/*.bg {*/
/*width: 100%;*/
/*height: 100%;*/
/*background: #121212 url(../img/BGBigS.jpg) -640px -421px no-repeat;*/
/*background-size: 196%;*/
/*}*/

.scene {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #212023 url(../img/FrontPageEl/BGN.jpg) center center no-repeat;

    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.animateSun {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 438px;
}

.layer {
    z-index: 10;
}

.lowOpacity {
    opacity: 0.4;
}

.OutterRing {
    position: absolute;
    margin-top: -1300px;
    margin-left: -350px;

    -webkit-animation: spinC 16s linear infinite;
    -moz-animation: spinC 16s linear infinite;
    animation: spinC 16s linear infinite;
}

.middleStar {
    position: absolute;
    margin: 210px 380px;
}

.InnnerRing {
    position: absolute;
    margin-top: -1050px;
    margin-left: -85px;

    -webkit-animation: spin 8s linear infinite;
    -moz-animation: spin 8s linear infinite;
    animation: spin 8s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinC {
    100% {
        -moz-transform: rotate(-360deg);
    }
}

@-webkit-keyframes spinC {
    100% {
        -webkit-transform: rotate(-360deg);
    }
}

@keyframes spinC {
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

/*.sun {*/
/*width: 413px;*/
/*height: 414px;*/
/*margin: 0 auto;*/
/*top: 130px;*/
/*position: relative;*/
/*background: url('../img/Sprits/sun.png') center top;*/
/*background: url('../img/Sprits/sun.png') left center;*/
/*animation: play 1s steps(10) infinite;*/
/*-webkit-animation: play 18s steps(301) infinite;*/
/*}*/

/*@keyframes play {*/
/*100% {*/
/*background-position: center -123576px;*/
/*background-position: -124917px;*/
/*}*/
/*}*/
/*@-webkit-keyframes play {*/
/*100% {*/
/*background-position: center -123576px;*/
/*background-position: -124917px;*/
/*}*/
/*}*/